show.html.erb

<h3>Villa Name</h3>

 <h1><%= @villa.title %></h1>
 <h1><%= @villa.description %></h1>
 <h1><%= @villa.location %></h1>
 <h1><%= @villa.price_per_night %></h1>
 <h1><%= @villa.number_of_bedrooms %></h1>
 <h1><%= @villa.number_of_bathrooms %></h1>
 <h1><%= @villa.number_of_beds %></h1>

 <h1><%= @villa.services %></h1>
 <h1><%= @villa.user %></h1>


